body{
	background-color: #E4E6EB;
	font-family: 'Raleway', sans-serif;
}
.grid-container{
	display: grid;
	grid-template-columns: 1px 1fr 3fr 1fr 1px;
	grid-template-areas:
		'. navbar navbar navbar .'
		'. aside-left main aside-right .'
		'. aside-left main aside-right .'
		'. aside-left main aside-right .'  
		'. footer footer footer .';
}
.cabecera{
    grid-area: navbar;
	background-color: #FFFFFF;
}

.barra__lateral--izquierda{
    grid-area: aside-left;
	background-color: #E4E6EB;
}
main{
    grid-area: main;
	background-color: #E4E6EB;
}

.barra__lateral--derecha{
    grid-area: aside-right;
	background-color: #E4E6EB;
}
.rodapie{
    grid-area: footer;
	background-color: #E4E6EB;
}

/* Estilos para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'navbar navbar navbar'
            'aside-left main aside-right'
            'aside-left main aside-right'  
            'aside-left main aside-right'  
            'footer footer footer';
    }
}

/* Estilos para pantallas de hasta 480px de ancho */
@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'navbar'
            'main'
            'aside-left'
            'aside-right'
            'footer';
    }
}